        <div id="w-node-dde8b420-6f9c-aa24-bd2a-a78e3812b833-a79b372e" class="footer_hover-effect">
            <div class="w-embed w-script">
                <style>
                    .footer_hover-effect canvas {
                        position: absolute;
                        display: block;
                        width: 100vw;
                        height: 100vh;
                        top: 2px;
                        left: 5px;
                    }

                    @media (max-width: 767px) {
                        .footer_hover-effect canvas {
                            height: 50vh;
                            top: 15vh;
                        }
                    }
                </style>

                <script>
                    const wrapper = document.querySelector(".footer_hover-effect");
                    const canvas = document.createElement("canvas");
                    canvas.id = "line-effect";
                    wrapper.appendChild(canvas);

                    const mouse = { x: -9999, y: -9999 };
                    const linesFooter = [];
                    let context;

                    let horizontalPadding = 0;
                    let verticalPadding = 0;

                    const drawWaveEffect = (context, width, height) => {
                        horizontalPadding = window.innerWidth < 768 ? 0 : width * 0.197;
                        verticalPadding = height * 0.197;

                        const linesCount = 60;
                        const lineHeight = (height - verticalPadding * 2) / linesCount;
                        const cellWidth = 5;
                        const cols = Math.floor((width - horizontalPadding * 2) / cellWidth);

                        const typeCanvasWidth = 120;
                        const typeCanvasHeight = 50;
                        const typeCanvas = document.createElement("canvas");
                        const typeContext = typeCanvas.getContext("2d");
                        typeCanvas.width = typeCanvasWidth;
                        typeCanvas.height = typeCanvasHeight;

                        const fontSize = typeCanvasWidth * 0.22;
                        typeContext.fillStyle = "#86735E";
                        typeContext.fillRect(0, 0, typeCanvasWidth, typeCanvasHeight);
                        typeContext.fillStyle = "white";
                        typeContext.font = `${fontSize}px Drukwide`;
                        typeContext.textBaseline = "middle";
                        typeContext.textAlign = "center";
                        typeContext.fillText("Zapier", typeCanvasWidth / 2, typeCanvasHeight / 2);

                        const typeData = typeContext.getImageData(
                            0,
                            0,
                            typeCanvasWidth,
                            typeCanvasHeight
                        ).data;

                        linesFooter.length = 0;
                        for (let i = 0; i < linesCount; i++) {
                            const y = verticalPadding + i * lineHeight;
                            const line = [];

                            for (let j = 0; j < cols; j++) {
                                const x = horizontalPadding + j * cellWidth;

                                const typeX = Math.floor((j / cols) * typeCanvasWidth);
                                const typeY = Math.floor((i / linesCount) * typeCanvasHeight);
                                const index = (typeY * typeCanvasWidth + typeX) * 4;
                                const brightness = typeData[index] || 0;

                                const heightOffset = (brightness / 255) * 20;
                                const finalY = y - heightOffset;

                                line.push({
                                    x,
                                    y: finalY,
                                    baseX: x,
                                    baseY: finalY,
                                });
                            }
                            linesFooter.push(line);
                        }
                    };

                    const updateLines = (mouseX, mouseY, radius = 100, maxSpeed = 10) => {
                        linesFooter.forEach((lineFooter) => {
                            lineFooter.forEach((point) => {
                                const dx = point.x - mouseX;
                                const dy = point.y - mouseY;
                                const distance = Math.sqrt(dx * dx + dy * dy);

                                if (distance < radius) {
                                    const angle = Math.atan2(dy, dx);
                                    const force = (radius - distance) / radius;

                                    point.x += Math.cos(angle) * force * maxSpeed;
                                    point.y += Math.sin(angle) * force * maxSpeed;
                                }

                                const springX = (point.baseX - point.x) * 0.1;
                                const springY = (point.baseY - point.y) * 0.1;

                                point.x += springX;
                                point.y += springY;
                            });
                        });
                    };

                    const drawLines = (context, width, height) => {
                        context.clearRect(0, 0, width, height);

                        linesFooter.forEach((lineFooter) => {
                            context.beginPath();
                            context.moveTo(lineFooter[0].x, lineFooter[0].y);

                            for (let i = 1; i < lineFooter.length; i++) {
                                const prev = lineFooter[i - 1];
                                const current = lineFooter[i];

                                const midX = (prev.x + current.x) / 2;
                                const midY = (prev.y + current.y) / 2;

                                context.quadraticCurveTo(prev.x, prev.y, midX, midY);
                            }

                            context.strokeStyle = "#86735E";
                            context.lineWidth = 0.5;
                            context.stroke();
                        });
                    };

                    const resizeCanvas = () => {
                        const scaleFactor = window.devicePixelRatio || 1;
                        const width = canvas.offsetWidth;
                        const height = canvas.offsetHeight;
                        canvas.width = width * scaleFactor;
                        canvas.height = height * scaleFactor;

                        context.setTransform(1, 0, 0, 1, 0, 0);
                        context.scale(scaleFactor, scaleFactor);

                        drawWaveEffect(context, width, height);
                    };

                    const animateFooterLines = () => {
                        const width = canvas.width / (window.devicePixelRatio || 1);
                        const height = canvas.height / (window.devicePixelRatio || 1);

                        updateLines(mouse.x, mouse.y);
                        drawLines(context, width, height);

                        requestAnimationFrame(animateFooterLines);
                    };

                    const waitForFonts = async () => {
                        if (document.fonts) {
                            try {
                                await document.fonts.load(`1em Drukwide`);
                            } catch (e) {
                                console.error("error font:", e);
                            }
                        }
                        resizeCanvas();
                        animateFooterLines();
                    };

                    const initFooter = () => {
                        context = canvas.getContext("2d");
                        resizeCanvas();

                        window.addEventListener("mousemove", (e) => {
                            const rect = canvas.getBoundingClientRect();
                            mouse.x = e.clientX - rect.left;
                            mouse.y = e.clientY - rect.top;
                        });

                        window.addEventListener("touchmove", (e) => {
                            const rect = canvas.getBoundingClientRect();
                            mouse.x = e.clientX - rect.left;
                            mouse.y = e.clientY - rect.top;
                        });

                        window.addEventListener("resize", resizeCanvas);

                        waitForFonts();
                    };

                    initFooter();
                </script>
            </div><canvas id="line-effect" width="2402" height="1876"></canvas>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
